@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #0f172a;
  color: #f8fafc;
  font-family: Inter, sans-serif;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}

/* Text */
p,
span,
label,
div {
  color: #e2e8f0;
}

/* Buttons */
button {
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Inputs */
input,
select,
textarea {
  color: #ffffff;
  background: #1e293b;
  border: 1px solid #334155;
  border-radius: 8px;
  padding: 10px;
}

/* Sidebar */
.sidebar {
  background: #020617;
  color: white;
}

/* Cards */
.card {
  background: #1e293b;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

/* Dashboard Boxes */
.dashboard-box {
  background: #1e293b;
  border-radius: 16px;
  padding: 20px;
  border: 1px solid #334155;
}

/* Buttons Hover */
button:hover {
  transform: scale(1.03);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 10px;
}